.red{background-color:aqua;height:200px; width:200px;}
img{border-radius: 50%;height: 100px;width:100px;padding-right: 10px;}
.player{display:flex;align-items:center;margin-top: 10px;padding-bottom: 20px;}
.top-player{display:grid; background-color: white; grid-template-columns: repeat(3,1fr);border-bottom:1px solid rgb(15, 15, 14);}
body{background-color: skyblue;}
nav{background-color: orange;}
h1{color: blue;}
.top{width: 200px;height:200px;border-radius:0%;}
.blog{display:flex;align-items:center;margin-top: 10px;}
.top-blog{display:grid;grid-template-columns: repeat(2,1fr);}
.container{width: 1300px;height: 900px;background-color: white;}
.last img{height:300px;width:400px;border-radius:0%;}
.last{display: grid;grid-template-columns: repeat(3,1fr);height:900px;width:1300px}
section{margin-top: 10px;width:1300px;margin-left:190px; height:600px;background-color: white;}
footer{text-align: center;background-color: tomato;width:1300px;margin-left: 190px;}